h1 {
  border: 5px solid darkslategray;
  background-color: lightslategray;
  border-radius: 100px;
  text-align: center;
  /*  margin-top: 50px;*/
  margin-left: 25px;
  margin-right: 25px;
  display: block;
}

body {
  background-color: burlywood
}

#output-wrapper {
  background-color: lightslategray;
  border: 5px solid darkslategray;
  height: 500px;
  width: 300px;
  text-align: center;
  color: cornsilk;
  line-height:inherit;
}
#game-input {
  left:175;
  position: absolute;
  bottom: 10px;

}

#outputbox {
  border: 2px solid darkslategray;
  background-color: slategray;
  border-radius: 50px;
  width: 350px;
  text-align: center;
  height: 400px;
  top:50px;
  left: 75px;
  size: 15px;
  position: relative;
}

#output-wrapper {
  width: 500;
  position: relative;
}

#bob {
  background-image: url("https://gm1.ggpht.com/zQNTuoU0gK0hKvhTjU_-TJxdd9lexcFI-4kHifRFv0IEl59sZKR7ZW3X9ZUEvPpxpKeV-WVm8tbZE9Xgd5xyBm-CCF_V2FJpiDNAtaTvmdxbaABdZwOnUWGerdmGDFLj-HNkHZhmG1MY2vBCyWvsR3gKSRMtpzoe4NtxZp4xFbslm-kL6s2j7EETgwjq4z4MpTgmSZGGqW4WeSzZuoPWCheBryoXJgIenlDyDSbWSsH9-4Vlk3BI8XXTe3o5134ewyaCPwBcG1BBCftMYjwpw_RR_xbX8ju-Molk2cM9baUPucdDAf6L9m2pVWeA1eJ8dhCQQi-TvkXs8PA9VZYXpX-2X63o3xU-MWdRUBtMnt5Lf9WqmUi5ufxEyJAh-RVqMfmfsHmIsNlLfSByUelVhCDucP7sch2fHbhcv8ErghaImIX0J6BmyqChv0yTR9WZ-KsRy4yOGAsekf61TkjOH5j83rXM1sbe2cVMiMeKEtHANo-YXaI6rMMWtTfkFObptaxQ8rom0iIHUdJs7ifse4GxmM6Y5vELnPSHQd9Ay-JLYPn5sQQanZHdDEUYKNzjzZrbx7H4nsXTP25c9amk5fIieYYJ7M6X2jX7t_ghr0VHgvOWhNcsxizWmMCGKKigI79EA3Noros67A7wnvDshWZhOZNAfiAbzcH9eEAR-sB4tUrCTVoaBk78Q80CGhHzROP8qXKjf38dZg=w2560-h1452-l75-ft");
  height: 300px;
  width: 300px;
  margin-left: 20px;
  margin-top: 30px;
  background-size: cover;
}
h6 {
}

#game-output {
  width: 200;
  z-index:1;
  color: black;
  position: relative;
  left: 50px;
}

#superstar {
  display: none;
}

.page {
  display:inline-block;
}

#blah {
  height:200px;
  width: 200px;
  z-index: -1;
}

#turfwar {
  height: 100px;
  width: 1000px;
  background-color: slategray;
  border: 3px solid darkslategray;
  text-align: center;
}
